@charset "utf-8";

body {
  background-color: #ddd !important;
  margin: 0 auto;
  overflow-x: hidden !important;
  width: 1200px;
}
.header-middle,
.ulockd-fservice,
.ulockd-team,
.ulockd-about,
.ulockd-team-two,
.ulockd-about2,
.ulockd-causes {
	background-color: #fff;
}
.main-slider2 .caption {
	padding: 12% 18%;
}
.main-slider2 .mslider-caption {
	padding: 13% 15% !important;
}
.ulockd-partner,
.ulockd-footer2 {
	background-color: #fff;
}